
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8"/>
    <title>Escuela [ @ViewBag.title ]</title> 
    <link href="~/Assens/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assens/css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <!--Aqui va el codigo para pagina-->
    <div class="jumbotron"><h3>Escuela Version 1.0</h3></div>
    @RenderBody()
    <!--Aqui va el codigo para pie de pagina-->
    <script src="~/Assens/js/bootstrap.min.js"></script>
</body>
</html>
